@tailwind base;
@tailwind components;
@tailwind utilities;

.welcom {
  /* mask: url("WelcomeSection.svg");
    mask-clip: padding-box;
    mask-size: cover; */
  clip-path: url("WelcomeSection.svg#clip0_505_143");
}
